*{
    box-sizing: border-box;
}
body {
    font-family: Fira+Sans;
}

.list{
    text-align: left;
}

div#background{
    background-image: url(../pic/home-slider-image-1.webp);
    background-size: cover;
    padding-bottom: 18vw;
    color: #adb5bd;
    font-family: Ubuntu Condensed, sans-serif;

}

div#citata{
    margin-top: 11vw;
}

div#text{
  /* margin: 2vw;*/
    padding: 2vw; 
    text-align: center;
    background-color: white;
}

div#textFon{
    /* margin: 2vw;*/
      padding: 2vw; 
      text-align: center;
      background-color: #f5f5f5;
  }

  div#textFonBlue{
    /* margin: 2vw;*/
      padding: 2vw; 
      text-align: center;
      background-color: #465175;
      color:azure;
  }

  div#textFonGrey{
    /* margin: 2vw;*/
      padding: 2vw; 
      text-align: center;
      background-color: #383838;
      color:azure;
  }
div#background2{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
     url(../pic/naruchniki-fon-doski-ten.jpg);
    background-size: cover;
    color: #adb5bd;
    padding: 2vw;
    text-align: center;
}

div#background3{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url(../pic/89669afb0d9bb0d0e1be9c27ef983b62.jpg);
    background-size: cover;
    color: #adb5bd;
    padding: 2vw;
    text-align: center;
}

div#otziv{
    font-size:0.9em;
}

button#btn{
    background-color: #465175;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

